{% extends "base.html" %} {% block content %}
{% load static %}
    <link href="{% static 'css/styles.css'%}" rel="stylesheet" />
    
    <!--맨위 사진-->
    <section class="home" id="home">
        <img src="{% static 'images/home1.jpg'%}" alt="" class="home__img">

        <div class="home__container">
            <div class="home_main_title">
                <br><br>당신의 캠핑장을 찾아보세요.
            </div>
            <div class="home_main_data">
                <br><br>당신과 <br>가장 어울리는 <br>캠핑장을 찾아드립니다.
            </div>
            <a href="#" class="button">검색</a>
        </div>
    </section>

{% endblock %}